<%= render "tags" %>
<section class="page-area">
  <div class="no-content-container">
    <p class="no-content-message">Select an tag from the list on the left or <%= link_to 'add', new_admin_tag_path, class: 'link-primary' %> a new tag.</p>
  </div>
  <p></p>
</section>