<aside class="page-sidebar category-sidebar">
  <header class="page-sidebar--header">
    <div class="header-container--left">
      <h5 class="header--title">Faq Categories</h5>
    </div>
    <div class="header-container--right">
      <ul class="header-container--right__actions">
        <!-- <li><i class="search-icon">Search</i></li> -->
        <li><%= link_to 'New Faq Category', fuel.new_admin_faq_category_path, class: 'add-icon' %></li>
      </ul>
    </div>
  </header>
  <ul class="resource-list category-list">
    <% @faq_categories.each do |faq_category| %>
      <%= link_to fuel.edit_admin_faq_category_path(faq_category) do %>
        <li class="resource-item category-item <%= 'active' if @faq_category && @faq_category == faq_category %>">
          <p class="category-item--title"><%= faq_category.name %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</aside>
